@tailwind base;
@tailwind components;
@tailwind utilities;

.cormorant {
    font-family: "Cormorant Garamond", serif;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 40s linear infinite;
}
